In [2]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import folium
import kaggle

# Importing data

In [40]:
ap_codes = pd.read_csv('airport_codes.csv')
al_codes = pd.read_csv('airline_codes.csv')
ap_locations = pd.read_csv('airport_locations.csv')

In [4]:
ap_codes = ap_codes.merge(ap_locations.loc[:, ['IATA', 'AIRPORT', 'CITY', 'STATE', 'LATITUDE', 'LONGITUDE']], left_on='Airport Code', right_on='IATA', how='left', )
ap_codes.columns = ap_codes.columns.str.lower()
ap_codes.columns = ap_codes.columns.str.replace(' ', '_')
al_codes

   Airline Code         Airline Name
0            AS      Alaska Airlines
1            G4        Allegient Air
2            AA    American Airlines
3            5Y       Atlas Airlines
4            DL       Delta Airlines
5            MQ    Frontier Airlines
6            EV            Envoy Air
7            F9  ExpressJet Airlines
8            HA    Hawaiian Airlines
9            B6      JetBlue Airways
10           OO     SkyWest Airlines
11           WN   Southwest Airlines
12           NK      Spirit Airlines
13           UA      United Airlines
14           VX       Virgin America

In [4]:
# Creating network line dataset
'''network_info = (
    pd.read_csv('network_info.csv').
    loc[:, ['OpCarrier', 'Origin', 'Dest']].
    loc[lambda d: (d['Origin'].isin(ap_codes['iata'])) & (d['Dest'].isin(ap_codes['iata'])) & (d['OpCarrier'].isin(al_codes['Airline Code']))]
)'''

In [6]:
'''network_info = network_info.loc[(network_info['opcarrier'] + network_info["origin"] + network_info["dest"]).apply(sorted).drop_duplicates(keep="first").index, :].reset_index(drop=True)'''

In [16]:
'''network_info['origin_lat'] = 0.0
network_info['origin_lng'] = 0.0
network_info['dest_lat'] = 0.0
network_info['dest_lng'] = 0.0
for i, row in network_info.iterrows():
    network_info.at[i, 'origin_lat'] = ap_codes[ap_codes['iata'] == row['origin']]['latitude']
    network_info.at[i, 'origin_lng'] = ap_codes[ap_codes['iata'] == row['origin']]['longitude']
    network_info.at[i, 'dest_lat'] = ap_codes[ap_codes['iata'] == row['dest']]['latitude']
    network_info.at[i, 'dest_lng'] = ap_codes[ap_codes['iata'] == row['dest']]['longitude']

network_info.sort_values(['opcarrier', 'origin', 'dest']).reset_index(inplace=True)
network_info.to_csv('network_info.csv')'''

In [56]:
as_data = pd.read_csv('data/AS-all_airports.csv')
g4_data = pd.read_csv('data/G4-all_airports.csv')
aa_data = pd.read_csv('data/AA-all_airports.csv')
dl_data = pd.read_csv('data/DL-all_airports.csv')
mq_data = pd.read_csv('data/MQ-all_airports.csv')
ev_data = pd.read_csv('data/EV-all_airports.csv')
f9_data = pd.read_csv('data/F9-all_airports.csv')
ha_data = pd.read_csv('data/HA-all_airports.csv')
b6_data = pd.read_csv('data/B6-all_airports.csv')
oo_data = pd.read_csv('data/OO-all_airports.csv')
wn_data = pd.read_csv('data/WN-all_airports.csv')
nk_data = pd.read_csv('data/NK-all_airports.csv')
ua_data = pd.read_csv('data/UA-all_airports.csv')

as_data['Date'] = pd.to_datetime(as_data['Date'])
g4_data['Date'] = pd.to_datetime(g4_data['Date'])
aa_data['Date'] = pd.to_datetime(aa_data['Date'])
dl_data['Date'] = pd.to_datetime(dl_data['Date'])
mq_data['Date'] = pd.to_datetime(mq_data['Date'])
ev_data['Date'] = pd.to_datetime(ev_data['Date'])
f9_data['Date'] = pd.to_datetime(f9_data['Date'])
ha_data['Date'] = pd.to_datetime(ha_data['Date'])
b6_data['Date'] = pd.to_datetime(b6_data['Date'])
oo_data['Date'] = pd.to_datetime(oo_data['Date'])
wn_data['Date'] = pd.to_datetime(wn_data['Date'])
nk_data['Date'] = pd.to_datetime(nk_data['Date'])
ua_data['Date'] = pd.to_datetime(ua_data['Date'])

all_airlines_data = pd.DataFrame()
all_airlines_data['date'] = as_data['Date']

In [57]:
all_airlines_data['as_asm'] = as_data['ASM_Domestic'] 
all_airlines_data['as_rpm'] = as_data['RPM_Domestic']
all_airlines_data['as_flight'] = as_data['Flights_Domestic']
all_airlines_data['as_eff'] = round(as_data['RPM_Domestic'] / as_data['ASM_Domestic'] * 100, 2)
all_airlines_data['as_pass'] = as_data['Passengers_Domestic'] / as_data['Flights_Domestic']

all_airlines_data['g4_asm'] = g4_data['ASM_Domestic']
all_airlines_data['g4_rpm'] = g4_data['RPM_Domestic']
all_airlines_data['g4_flight'] = g4_data['Flights_Domestic']
all_airlines_data['g4_eff'] = round(g4_data['RPM_Domestic'] / g4_data['ASM_Domestic'] * 100, 2)
all_airlines_data['g4_pass'] = g4_data['Passengers_Domestic'] / g4_data['Flights_Domestic']

all_airlines_data['aa_asm'] = aa_data['ASM_Domestic']
all_airlines_data['aa_rpm'] = aa_data['RPM_Domestic']
all_airlines_data['aa_flight'] = aa_data['Flights_Domestic']
all_airlines_data['aa_eff'] = round(aa_data['RPM_Domestic'] / aa_data['ASM_Domestic'] * 100, 2)
all_airlines_data['aa_pass'] = aa_data['Passengers_Domestic'] / aa_data['Flights_Domestic']

all_airlines_data['dl_asm'] = dl_data['ASM_Domestic']
all_airlines_data['dl_rpm'] = dl_data['RPM_Domestic']
all_airlines_data['dl_flight'] = dl_data['Flights_Domestic']
all_airlines_data['dl_eff'] = round(dl_data['RPM_Domestic'] / dl_data['ASM_Domestic'] * 100, 2)
all_airlines_data['dl_pass'] = dl_data['Passengers_Domestic'] / dl_data['Flights_Domestic']

all_airlines_data['mq_asm'] = mq_data['ASM_Domestic']
all_airlines_data['mq_rpm'] = mq_data['RPM_Domestic']
all_airlines_data['mq_flight'] = mq_data['Flights_Domestic']
all_airlines_data['mq_eff'] = round(mq_data['RPM_Domestic'] / mq_data['ASM_Domestic'] * 100, 2)
all_airlines_data['mq_pass'] = mq_data['Passengers_Domestic'] / mq_data['Flights_Domestic']

all_airlines_data['ev_asm'] = ev_data['ASM_Domestic']
all_airlines_data['ev_rpm'] = ev_data['RPM_Domestic']
all_airlines_data['ev_flight'] = ev_data['Flights_Domestic']
all_airlines_data['ev_eff'] = round(ev_data['RPM_Domestic'] / ev_data['ASM_Domestic'] * 100, 2)
all_airlines_data['ev_pass'] = ev_data['Passengers_Domestic'] / ev_data['Flights_Domestic']

all_airlines_data['f9_asm'] = f9_data['ASM_Domestic']
all_airlines_data['f9_rpm'] = f9_data['RPM_Domestic']
all_airlines_data['f9_flight'] = f9_data['Flights_Domestic']
all_airlines_data['f9_eff'] = round(f9_data['RPM_Domestic'] / f9_data['ASM_Domestic'] * 100, 2)
all_airlines_data['f9_pass'] = f9_data['Passengers_Domestic'] / f9_data['Flights_Domestic']

all_airlines_data['ha_asm'] = ha_data['ASM_Domestic']
all_airlines_data['ha_rpm'] = ha_data['RPM_Domestic']
all_airlines_data['ha_flight'] = ha_data['Flights_Domestic']
all_airlines_data['ha_eff'] = round(ha_data['RPM_Domestic'] / ha_data['ASM_Domestic'] * 100, 2)
all_airlines_data['ha_pass'] = ha_data['Passengers_Domestic'] / ha_data['Flights_Domestic']

all_airlines_data['b6_asm'] = b6_data['ASM_Domestic']
all_airlines_data['b6_rpm'] = b6_data['RPM_Domestic']
all_airlines_data['b6_flight'] = b6_data['Flights_Domestic']
all_airlines_data['b6_eff'] = round(b6_data['RPM_Domestic'] / b6_data['ASM_Domestic'] * 100, 2)
all_airlines_data['b6_pass'] = b6_data['Passengers_Domestic'] / b6_data['Flights_Domestic']

all_airlines_data['oo_asm'] = oo_data['ASM_Domestic']
all_airlines_data['oo_rpm'] = oo_data['RPM_Domestic']
all_airlines_data['oo_flight'] = oo_data['Flights_Domestic']
all_airlines_data['oo_eff'] = round(oo_data['RPM_Domestic'] / oo_data['ASM_Domestic'] * 100, 2)
all_airlines_data['oo_pass'] = oo_data['Passengers_Domestic'] / oo_data['Flights_Domestic']

all_airlines_data['wn_asm'] = wn_data['ASM_Domestic']
all_airlines_data['wn_rpm'] = wn_data['RPM_Domestic']
all_airlines_data['wn_flight'] = wn_data['Flights_Domestic']
all_airlines_data['wn_eff'] = round(wn_data['RPM_Domestic'] / wn_data['ASM_Domestic'] * 100, 2)
all_airlines_data['wn_pass'] = wn_data['Passengers_Domestic'] / wn_data['Flights_Domestic']

all_airlines_data['nk_asm'] = nk_data['ASM_Domestic']
all_airlines_data['nk_rpm'] = nk_data['RPM_Domestic']
all_airlines_data['nk_flight'] = nk_data['Flights_Domestic']
all_airlines_data['nk_eff'] = round(nk_data['RPM_Domestic'] / nk_data['ASM_Domestic'] * 100, 2)
all_airlines_data['nk_pass'] = nk_data['Passengers_Domestic'] / nk_data['Flights_Domestic']

all_airlines_data['ua_asm'] = ua_data['ASM_Domestic']
all_airlines_data['ua_rpm'] = ua_data['RPM_Domestic']
all_airlines_data['ua_flight'] = ua_data['Flights_Domestic']
all_airlines_data['ua_eff'] = round(ua_data['RPM_Domestic'] / ua_data['ASM_Domestic'] * 100, 2)
all_airlines_data['ua_pass'] = ua_data['Passengers_Domestic'] / ua_data['Flights_Domestic']

In [58]:
all_airlines_data['date'] = all_airlines_data['date'].dt.strftime('%Y-%m')
all_airlines_data

,date,as_asm,as_rpm,as_flight,as_eff,as_pass,g4_asm,g4_rpm,g4_flight,g4_eff,...,nk_asm,nk_rpm,nk_flight,nk_eff,nk_pass,ua_asm,ua_rpm,ua_flight,ua_eff,ua_pass
0,2002-10,1351693,828901,12931,61.32,72.057381,9672,3455,155,35.72,...,471270,339613,2865,72.06,104.063525,8053702,5468552,51504,67.90,93.792987
1,2002-11,1243428,808997,12004,65.06,74.913196,8703,4240,157,48.72,...,498928,383078,3049,76.78,108.225976,7326292,4913182,46067,67.06,94.398767
2,2002-12,1339857,998526,12627,74.52,85.745228,9175,5475,155,59.67,...,547592,433486,3305,79.16,110.148563,7734611,5826271,48260,75.33,105.038085
3,2003-01,1317669,807069,12421,61.25,70.748168,8092,4711,134,58.22,...,524856,400888,3223,76.38,104.620540,7440414,5036957,47193,67.70,92.582862
4,2003-02,1185825,782864,11151,66.02,76.805578,7019,4330,105,61.69,...,479216,362505,2910,75.65,106.638832,6610564,4652618,41776,70.38,98.212969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2016-11,2873148,2477244,13953,86.22,130.441697,933900,772346,6269,82.70,...,2013483,1631395,11573,81.02,138.242893,9057851,7722929,46043,85.26,136.765306
170,2016-12,3000939,2562145,14409,85.38,129.651398,1113992,888289,7567,79.74,...,2138358,1710226,12153,79.98,137.284950,9592667,8153823,45329,85.00,137.484370
171,2017-01,3008207,2384125,14525,79.25,119.211566,984513,792180,6451,80.46,...,2188707,1674390,12160,76.50,133.233141,8586939,7117049,42317,82.88,131.812227
172,2017-02,2674635,2181994,13108,81.58,123.990388,996994,813256,6412,81.57,...,1977324,1613405,11276,81.60,140.018180,7948169,6517389,39735,82.00,132.228841
173,2017-03,3173782,2764689,15379,87.11,132.644190,1268625,1078847,8171,85.04,...,2209279,1921711,12583,86.98,149.512914,9825518,8475624,47941,86.26,140.021360

In [59]:
all_airlines_data = all_airlines_data[(all_airlines_data['date'] >= '2003') & (all_airlines_data['date'] <'2017')]
all_airlines_data.reset_index(drop=True, inplace=True)
all_airlines_data.to_csv('1d-data.csv')